body {height: 3000px;}

/* 스크롤 탑 */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
#scrollTop {
  color: black;
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-weight: bold;
  /* border: solid 1px white; */
}
#scrollTop:hover {
  color: rgb(0, 76, 190);
  cursor: pointer;
}
#scrollTop>span {
  display: block;
  font-variation-settings: 'wght' 800;
}

#image-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  text-align: center;
}

#image {
  width: 100%;
}